.form {

    &__group {
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__input {
        font-family: inherit;
        font-size: 1.5rem;
        color: $color-black;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, .45);
        border: none;
        transition: all .3s;
        border-bottom: 3px solid transparent;
        width: 90%;


        @include respond(tab-port) {
            width: 100%;
        }


        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
        }

        &:focus:invalid {
            border-bottom-color: $color-secondary-dark;
        }

        &:focus:valid {
            border-bottom-color: $color-primary;
        }

        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        }

    }

    &__input:placeholder-shown + &__label {
        transform: translateY(-4rem); 
        visibility: hidden;
        opacity: 0;
    }

    &__label {
        display: block;
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-left: 1.7rem;
        transition: all .2s;
    }


    &__radio-group {
        width: 49%;
        display: inline-block;

        @include respond(tab-port) {
            width: 100%;
            margin-bottom: 2rem;
        }
    }

    &__radio-label {
        font-size: $default-font-size;
        cursor: pointer;
        position: relative;
        padding-left: 4rem;
    }

    &__radio-button {
        position: relative;
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -.4rem;
        display: grid;
        place-content: center;

        &::after {
            height: 1.2rem;
            width: 1.2rem;
            content: "";
            display: block;
            border-radius: 50%;
            background-color: $color-primary;
            opacity: 0;
            transition: opacity .2s;
        }

    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }

    &__radio-input {
        display: none;
    }

}